.centerIcon {
  @apply flex h-[1.8rem] w-[1.8rem] items-center justify-center text-slate-700 hover:cursor-pointer hover:rounded-md hover:bg-slate-100;
}
.unredo {
  display: flex;
  /* background-color: red; */
}
.brContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  right: 0;
  /* background-color: aqua; */
  margin: 0 2rem;
  height: 3.2rem;
  width: 15rem;
}
